.ds-grid {
  align-items: stretch;
  display: grid;
  gap: var(--primitives-spacing-20);
  grid-template-columns: 1fr;
}

@media (min-width: 641px) {
  .ds-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1280px) {
  .ds-grid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
